button
{
    background-color:rgb(179, 3, 219);
    border-radius: 10px solid black;
    font-family:'Courier New', Courier, monospace;
    width: 20%;
    height: 5em;
    color: rgb(255, 0, 0);
    padding: 14px;
    margin: 2em;
    
}
button:hover
{
    background-color: rgb(1, 1, 1);
    cursor: alias;
}

.h1
{
    text-align: center;
}

body
{
    background-color:rgb(131, 120, 255);
}

