button
{
    background-color: rgb(255, 0, 0);
    border-radius: 10px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 25%;
    height: 5em;
    margin: 2em;
}
button:hover
{
    background-color: rgb(255, 255, 255);
    cursor: alias;
}

.h1
{
    text-align: center;
}

body
{
    background-color: rgb(255, 70, 70);
}